
@{
    ViewData["Title"] = "Home Page";

}

<div class="banner-area" id="banner-area" style="background-image:url(images/banner/pexels-arnie-chou-1004123.jpg);">
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Discover. Learn. Enjoy</h1>

                    <h6 class="text-center">platform for creatives around the world</h6>

                    <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                            <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Design, Code, Marketing, Finance ..." aria-label="Search">

                            <button type="submit" class="form-control">Search</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- Banner area end-->

<section class="projects" id="projects">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="section-title"><span>We make shipping easy</span>Our Delivery Projects</h2>
            </div>
        </div>
        <div class="row ">
            @foreach (Location locations in Model)
            {
                <div class="col-lg-4 ">
                    <div class="latest-post post-large project-post-large">
                        <div class="latest-post-media project-post-media">
                            <a class="latest-post-img" href="project-single.html">
                                <img class="img-fluid" src="~/images/projects/project1.jpg" alt="img">
                            </a>

                            <div class="post-body project-body project-post-body">
                                <a class="post-cat" href="project-single.html">@locations.Name</a>
                                <a class="btn btn-primary" href="project-single.html">Read More</a>
                            </div>
                            <!-- Post body end-->
                        </div>
                        <!-- Post media end-->
                    </div>
                    <!-- Latest post end-->
                </div>
            }
            <!-- Col 1 end-->
            <div class="col-lg-4 ">
                <div class="latest-post post-large project-post-large">
                    <div class="latest-post-media project-post-media">
                        <a class="latest-post-img" href="project-single.html">
                            <img class="img-fluid" src="images/projects/project2.jpg" alt="img">
                        </a>

                        <div class="post-body project-body project-post-body">
                            <a class="post-cat" href="project-single.html">Drill Pipe Transportation</a>
                            <a class="btn btn-primary" href="project-single.html">Read More</a>
                        </div>
                        <!-- Post body end-->
                    </div>
                    <!-- Post media end-->
                </div>
                <!-- Latest post end-->
            </div>
            <!-- Col 2 end-->
            <div class="col-lg-4 ">
                <div class="latest-post post-large project-post-large">
                    <div class="latest-post-media project-post-media">
                        <a class="latest-post-img" href="project-single.html">
                            <img class="img-fluid" src="images/projects/project3.jpg" alt="img">
                        </a>

                        <div class="post-body project-body project-post-body">
                            <a class="post-cat" href="project-single.html">Packing and Crating Delivery</a>
                            <a class="btn btn-primary" href="project-single.html">Read More</a>
                        </div>
                        <!-- Post body end-->
                    </div>
                    <!-- Post media end-->
                </div>
                <!-- Latest post end-->
            </div>
            <!-- Col 3 end-->
        </div>
        <!-- row 1 end-->
        <div class="gap-30"></div>
        <div class="row ">
            <div class="col-lg-4 ">
                <div class="latest-post post-large project-post-large">
                    <div class="latest-post-media project-post-media">
                        <a class="latest-post-img" href="project-single.html">
                            <img class="img-fluid" src="images/projects/project4.jpg" alt="img">
                        </a>

                        <div class="post-body project-body project-post-body">
                            <a class="post-cat" href="project-single.html">Storing German elevator manufacturer’s</a>
                            <a class="btn btn-primary" href="project-single.html">Read More</a>
                        </div>
                        <!-- Post body end-->
                    </div>
                    <!-- Post media end-->
                </div>
                <!-- Latest post end-->
            </div>
            <!-- Col 1 end-->
            <div class="col-lg-4 ">
                <div class="latest-post post-large project-post-large">
                    <div class="latest-post-media project-post-media">
                        <a class="latest-post-img" href="project-single.html">
                            <img class="img-fluid" src="images/projects/project5.jpg" alt="img">
                        </a>

                        <div class="post-body project-body project-post-body">
                            <a class="post-cat" href="project-single.html">The Red Line Container Project</a>
                            <a class="btn btn-primary" href="project-single.html">Read More</a>
                        </div>
                        <!-- Post body end-->
                    </div>
                    <!-- Post media end-->
                </div>
                <!-- Latest post end-->
            </div>
            <!-- Col 2 end-->
            <div class="col-lg-4 ">
                <div class="latest-post post-large project-post-large">
                    <div class="latest-post-media project-post-media">
                        <a class="latest-post-img" href="project-single.html">
                            <img class="img-fluid" src="images/projects/project6.jpg" alt="img">
                        </a>

                        <div class="post-body project-body project-post-body">
                            <a class="post-cat" href="project-single.html">CEA Ao-Udom Ground Facility</a>
                            <a class="btn btn-primary" href="project-single.html">Read More</a>
                        </div>
                        <!-- Post body end-->
                    </div>
                    <!-- Post media end-->
                </div>
                <!-- Latest post end-->
            </div>
            <!-- Col 3 end-->
        </div>
        <!-- row 2 end-->
    </div>
    <!-- Container end-->
</section>
<!-- Projects end-->
