<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Basic Page Needs
    ==================================================
    -->
    <meta charset="utf-8">
    <title>@ViewData["Title"] - ProjectReview</title>
    <!--
     Mobile Specific Metas
     ==================================================
     -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--
     CSS
     ==================================================
     -->
    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <!-- Animation-->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <!-- Morris CSS -->
    <link rel="stylesheet" href="~/css/morris.css" asp-append-version="true">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <!-- Icon font-->
    <link rel="stylesheet" href="~/css/icon-font.css" asp-append-version="true">
    <!-- Owl Carousel-->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <!-- Owl Theme -->
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
    <!-- Colorbox-->
    <link rel="stylesheet" href="~/css/colorbox.css" asp-append-version="true">
    <!-- Template styles-->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">

    <link href="~/css/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">

    <link href="~/css/templatemo-topic-listing.css" rel="stylesheet" asp-append-version="true">




</head>
<body>
    <div class="body-inner">
        <div class="site-top-2">
            <header class="header nav-down" id="header-2">
    
                <div class="site-nav-inner site-navigation navigation navdown">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span>
                            </button>
                            <!-- End of Navbar toggler-->
                            <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <!-- li end-->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" asp-controller="Location" asp-action="Location" >Restaurant</a>                    
                                    </li>
                                    <!-- li end-->                                                                    
                                    <li class="nav-item dropdown">
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                                <!--Nav ul end-->
                            </div>
                        
                            @{
                                string? accJson = Context.Session.GetString("User");
                                if (accJson == null)
                                {
                                    <a asp-controller="Login" asp-action="Login" class="top-right-btn btn btn-primary">Login</a>
                                }
                                if (accJson != null)
                                {
                                    User? acc = JsonConvert.DeserializeObject<User>(accJson);
                                    if (acc.Id != null)
                                    {
                                        <a asp-controller="Login" asp-action="Logout" class="top-right-btn btn btn-primary">Logout</a>
                                    }
                                }
                            }

                            <!-- Top bar btn -->
                        </nav>
                        <!-- Collapse end-->
                    </div>
                </div>
                <!-- Site nav inner end-->
            </header>
            <!-- Header end-->
        </div>


        @RenderBody()
        


        <footer class="footer" id="footer">
            <div class="footer-main bg-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="images/footer-logo.png" alt="">
                            </div>
                            <p>Transline Logistics is the UK's leading freight forwarding, 
                                Midst brought winged midst beast years, be very was. Brought that called creeping</p>
                        </div>
                        <!-- About us end-->
                        <div class="col-lg-4 col-md-6 footer-widget">
                            <h3 class="widget-title">Quick Links</h3>
                            <ul class="list-dash">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="service.html">Our Services</a></li>
                                <li><a href="project-all.html">Projects</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="news-left-sidebar.html">Our Blog</a></li>
                                <li><a href="news-right-sidebar.html">Why Need Agent?</a></li>
                                <li><a href="pricing-table.html">Investments</a></li>
                                <li><a href="contact.html">Consultation</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 footer-widget">
                            <h3 class="widget-title">Company Locations</h3>
                            <div class="ts-contact-info">
                                <span class="ts-contact-icon float-left"><i class="icon icon-map-marker2"></i></span>
                                <div class="ts-contact-content">
                                    <h3 class="ts-contact-title">Address</h3>
                                    <p>370 Grove Street East Northport, NY 11731</p>
                                </div>
                                <!-- Contact content end-->
                            </div>

                            <div class="ts-contact-info last">
                                <span class="ts-contact-icon float-left"><i class="icon icon-envelope"></i></span>
                                <div class="ts-contact-content">
                                    <h3 class="ts-contact-title">Email Address</h3>
                                    <p>support@transline.com</p>
                                </div>
                                <!-- Contact content end-->
                            </div>
                            <div class="ts-contact-info">
                                <span class="ts-contact-icon float-left"><i class="icon icon-phone3"></i></span>
                                <div class="ts-contact-content">
                                    <h3 class="ts-contact-title">Phone Number</h3>
                                    <p>+1(0123) 4567 890, +1(0231) 3421 453</p>
                                </div>
                                <!-- Contact content end-->
                            </div>
                        </div>
                    </div>
                    <!-- Content row end-->
                </div>
                <!-- Container end-->
            </div>
            <!-- Footer Main-->
        </footer>
        <!-- Footer end-->
        <!-- initialize jQuery Library-->
        <script type="text/javascript" src="js/jquery.js"></script>


        <!-- Bootstrap jQuery-->
        <script type="text/javascript" src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <!-- Owl Carousel-->
        <script type="text/javascript" src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <!-- Counter-->
        <script type="text/javascript" src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
        <!-- Waypoints-->
        <script type="text/javascript" src="~/js/waypoints.min.js" asp-append-version="true"></script>
        <!-- Color box-->
        <script type="text/javascript" src="~/js/jquery.colorbox.js" asp-append-version="true"></script>


        <!-- Template custom-->
        <script type="text/javascript" src="~/js/custom.js" asp-append-version="true"></script>


        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
        <script>
            function initMap() {
                // Code xử lý bản đồ sẽ ở đây
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 10.8231, lng: 106.6297 }, // Tọa độ TP.HCM
                    zoom: 12
                });
            }
        </script>
        <!-- Google Map Plugin-->
        <script type="text/javascript" src="~/js/gmap3.js" asp-append-version="true"></script>
        <!-- initialize jQuery Library-->
        <script type="text/javascript" src="~/js/jquery.js" asp-append-version="true"></script>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
